*.pyc

# Packages
/dist/*

# Unit test / coverage reports
.coverage
.pytest_cache

.DS_Store
.idea/*
.python-version
.vscode/*

/docs/site/*
.mypy_cache

.venv
/poetry.toml

output/*
for_presentation/__pycache__
for_presentation/out/*

Larva/__pycache__

sandbox/__pycache__
tests/__pycache__

data/stl/complex_stl